$green: #1D8B77;
$green-light: #C7F1FF;

$gray: #626262;
$gray-middle: #989898;
$gray-ligh: #D4D4D4;
$gray-transparent: rgba(63, 63, 63, 0.45);

$black: #212934;
$black-light:  #404B5A;

$blue: #0C7CD5;